body {
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* Header section styles */
.header {
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.header h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 150px 300px 0px 300px;
}
.header p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px 300px;
  text-align: center;
  color: white;
  font-size: 17px;
}
/* button styles */
.link-button {
  text-decoration: none;
  background-color: coral;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
/* h1 styles */
.h1-bold {
  padding-top: 50px;
  text-align: center;
  font-size: 45px;
  font-weight: 900;
}
/* Donate today section styles */
.donate-now p {
  color: gray;
  text-align: center;
  font-size: 18px;
  padding: 0 350px;
}
#custom-amount {
  font-size: 20px;
  padding: 20px 50px;
  margin-top: 25px;
}
.buttons {
  justify-content: center;
  display: flex;
  text-align: center;
  margin: auto;
}
.donate-now h2 {
  color: gray;
  background-color: whitesmoke;
  padding: 30px 20px;
  border: 5px white solid;
  border-radius: 5px;
}
#selected {
  color: tomato;
  border: 2px solid tomato;
  border-radius: 5px;
  background-color: rgb(246, 223, 208);
}
.donate-area {
  margin: auto;
  padding-bottom: 20px;
  color: gray;
  text-align: center;
  width: 600px;
}
/* Our Donate Plan div styles */
.our-donate-plan p {
  padding: 1px 300px 50px;
}
/* Box styles */
.boxes {
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 0 200px 0 200px;
}
.box1 {
  padding: 40px 20px 20px 20px;
  width: 300px;
  height: 250px;
  background-color: rgb(191, 218, 228);
  border: 10px rgb(191, 218, 228) solid;
  border-radius: 10px;
  margin: 0 10px;
}
.box2 {
  padding: 40px 20px 20px 20px;
  width: 300px;
  height: 250px;
  background-color: rgb(228, 191, 211);
  border: 10px rgb(228, 191, 211) solid;
  border-radius: 10px;
  margin: 0 10px;
}
.box3 {
  padding: 40px 20px 20px 20px;
  width: 300px;
  height: 250px;
  background-color: rgb(250, 193, 153);
  border: 10px rgb(250, 193, 153) solid;
  border-radius: 10px;
  margin: 0 10px;
}
/* Donate and save lives image styles */
.image {
  width: 100%;
  height: 900px;
}
/* Donate and save lives paragraph styles */
.para-size {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}
/* Get My Updates paragraph styles */
.updates p {
  padding: 0 360px;
}
#email {
  background-color: rgb(223, 223, 221);
  padding: 10px 20px 10px 20px;
  border-color: rgb(223, 223, 221);
  margin-top: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* subscribe div styles */
.subscribe {
  width: 40%;
  padding: 60px;
  border: 40px solid white;
  margin: auto;
  background-color: rgb(255, 239, 211);
  align-items: center;
  display: flex;
  justify-content: center;
}
/* email div button styles */
.link-button-sub {
  text-decoration: none;
  background-color: coral;
  color: white;
  padding: 10px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* footer styles */
footer {
  padding: 40px 0;
  background-color: black;
  color: white;
}
#foot {
  color: tomato;
}
